body {
    height: 100%;
}
header {
    /* height: 50px; */
    box-shadow: 0px 3px 19px rgba(180, 151, 90, 0.4); /* Use the RGBA value of #990D23 with 50% opacity */
}
.logo img {
    max-height: 7vh;
}

.nav-container {
    min-height: 93vh;
}
nav > a {
    font-weight: bold;
    padding: 0.3rem;
    transition: all 0.3s ease-out;
}
nav > a:hover,
.active {
    background-color: var(--golden) !important;
    color: black;
}

.active {
    background-color: var(--golden) !important;
    color: black;
    border-color: var(--scarlet) !important;
    
}

/* MODAL */
.add-btn:hover > i {
    color: white !important;
}