# Ignore files that end with .log
*.log

# Ignore the "build" directory
src/views/asset/img/avatar
src/views/asset/img/product
src/views/asset/img/category
src/views/asset/img/brand
src/.env

# Ignore all
