main {
    background-color: #f5f5f5;
}
* {
    box-sizing: border-box;
}



/* danhmuc */

.dm-item > img {
    width: 100% !important;
}
.dm-item {
    text-align: center;
}


/* Thương Hiệu */
.thuonghieu_left img{
    margin-bottom: 25px;
    margin-right:10px ;
}

.thuonghieu {
    border: 1px solid #f5f5f5;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 20px;
}

.thuonghieu img {
    border-radius: 10px;
}

.thuonghieu img:hover {
    transform: scale(1.1);
}

.sanphamgoiy>.container {
    border: 1px solid #f5f5f5;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 30px;
}

