main {
    background-color: #f5f5f5;
}

footer {
    margin-top: -8px;
}


.shop>.row {
    height: 100%;
}

.filter-category .link-secondary {
    font-size: 1rem;
}
.products > .card {
    height: fit-content;
    min-height: 354px;
}
.products > .card img {
    height: 100% !important;
    /* min-height: 243px !important; */
}
.products > .card:hover {
    transition: all 0.3s;
    transform: translateY(-2%);
    border: 1px #B4975A solid !important;
}